.container {
    display: flex;
    align-items: center;
}

[type="button"] {
    height: 40px;
    width: 40px;
    font-weight: bold;
}

.quantity {
    margin: 0px 4px 0px 4px;
    border: 2px solid #11bfd6;
    background-color: #c2fafc;
    color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 15px;
}

.noVisible {
    visibility: hidden;
}