
<nav>
	<input type="checkbox" id="check" />
	<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
	</label>
	<ul class="navegacion">
		<a href="index.html">
			<li class="menu">Inicio</li>
		</a>
		<a href="productos.html">
			<li class="menu">Libros</li>
		</a>
		<a href="carrito.html">
			<li class="menu">Carrito</li>
		</a>
		<a href="contactate.html">
			<li class="menu">Contactate</li>
		</a>
	</ul>
</nav>
<div class="contenido">
	<h1>{{title}}</h1>
	<app-book-list>

	</app-book-list>
	<!--<app-book-publicidad>

	</app-book-publicidad>-->
</div>
<footer>
	<img src="assets/img/logo-bookbuyer.png" alt="Logo" class="logo"/>
	© Copyright 2024 - {{title}}<br>
	(02262) 15123456
</footer>