
<nav>
	<input type="checkbox" id="check" />
	<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
	</label>
	<ul class="navegacion">
		<a [routerLink]="['/home']">
			<li class="menu">Inicio</li>
		</a>
		<a [routerLink]="['/books']">
			<li class="menu">Libros</li>
		</a>
		<a [routerLink]="['/cart']">
			<li class="menu">Carrito</li>
		</a>
		<a [routerLink]="['/contact']">
			<li class="menu">Contactate</li>
		</a>
	</ul>
</nav>
<div class="contenido">
	<router-outlet>
		
	</router-outlet>
</div>
<footer>
	<img src="assets/img/logo-bookbuyer.png" alt="Logo" class="logo"/>
	© Copyright 2024 - {{title}}<br>
	(02262) 15123456
</footer>