th {
	white-space: nowrap;
}

td, th {
	vertical-align: middle;
	padding: 5px 40px 5px 40px;
}

table {
	margin: 20px;
}

@media only screen and (max-width: 800px),
screen and (max-height: 600px) {
	td, th {
		text-align: left;
		vertical-align: middle;
		padding: 5px 10px 5px 10px;
	}
}